# IntelliJ IDEA
.idea
*.iml
*.iws
out/

# VS Code
.vscode/

# Node modules
node_modules/

# Gradle
backend/gradle/
backend/build/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Compiled Java classes
*.class

# Package files
*.jar
*.war
*.ear

# TypeScript
*.tsbuildinfo

# Angular
frontend/angular/
frontend/dist/